.box {
  padding: 40px;
  background-color: var(--color-light);
  border-radius: 8px;

  color: var(--color-gray);
  box-shadow: var(--shadow-regular);
  box-shadow: inset 0px 0px 10px #7b7b85, -1px -1px 2px #fff,
    -2px 0px 0px rgb(4, 142, 4);
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    #171616 1%,
    #646262 5%,
    #bdbcbc,
    #b5b4b4 20%,
    #b5b4b4 65%,
    #b5b4b4,
    #b5b4b4 95%,
    #171616 99%,
    transparent
  );
  color: rgb(75, 75, 75);
}

.button {
  position: absolute;

  right: 0;

  padding: 20px;
  transition: transform var(--animation-cubicBezier);
}
.button:hover,
.button:focus {
  transform: scale(1.05);
}

.button:disabled {
  color: var(--color-gray);
  pointer-events: none;
}

.deleteButton {
  composes: button;
  top: 0;
  color: var(--color-red);
}

.editButton {
  composes: button;
  bottom: 0;
  color: var(--color-lightBlue);
  color: rgb(20, 110, 20);
}
